<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/finalização.css">
    <title>Document</title>
</head>
<body>
    <div class="agradecimento">
        <img src="../img/logo.png" id="img-logo" alt="logo">
        <h1>Finalização</h1>
        <p>Seu feedback foi enviado com sucesso!</p>
        <button id="botao" onclick="voltar()">voltar</button>
    </div>
    <script >
        function voltar(){
            window.location.replace("../index.html");
        }
    </script>
</body>
</html>